$white: hsl(0, 0%, 98%);
$gray: hsl(0, 0%, 41%);
$mainColor: hsl(0, 0%, 8%);

// Breakpoints
$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
