<div class="home">
  <div class="container">
    <section class="intro">
      <div class="intro__content">
        <h1>Make <span>remote work</span></h1>
        <p>
          Get your team in sync, no matter your location. Streamline processes,
          create team rituals, and watch productivity soar.
        </p>
        <button class="btn btn-primary">Learn more</button>
        <div class="intro__sponsers">
          <img src="assets/images/client-databiz.svg" alt="" />
          <img src="assets/images/client-audiophile.svg" alt="" />
          <img src="assets/images/client-meet.svg" alt="" />
          <img src="assets/images/client-maker.svg" alt="" />
        </div>
      </div>
      <div class="intro__image">
        <img src="assets/images/image-hero-desktop.png" alt="intro image" />
        <img src="assets/images/image-hero-mobile.png" alt="intro image" />
      </div>
    </section>
  </div>
</div>
