@font-face {
  font-family: "Epilogue";
  font-weight: 500;
  src: url("assets/fonts/Epilogue-Medium.ttf");
}
@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  src: url("assets/fonts/Epilogue-Bold.ttf");
}
@import "~bootstrap/scss/bootstrap";

@import "assets//scss/variables";
@import "assets//scss/mixins";
@import "assets//scss/buttons";
@import "assets//scss/global";
@import "assets//scss/header";
@import "assets//scss/home";
